<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="orco2_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="index">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['index']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="index (1)">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['index (1)']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="index (2)">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['index (2)']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="middle (2)">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['middle (2)']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="middle (1)">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['middle (1)']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="middle">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['middle']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="pinky (2)">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['pinky (2)']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="pinky (1)">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['pinky (1)']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="pinky">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['pinky']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ring (2)">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ring (2)']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ring (1)">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ring (1)']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ring">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ring']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="thumb (1)">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['thumb (1)']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="thumb">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['thumb']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
